.container-slider {
  display: flex;
  width: 100%;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  z-index: -2;
  margin-top: 100px;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1495px;
  height: 252px;
  z-index: -2;
}

@media screen and (max-width: 480px) {
  .container-images {
    width: 480px;
    height: 214px;
    margin-top: -83px;
  }
  .container-images img {
    width: 414px;
    height: 300px;
  }
  

  .container-slider button {
    width: 400px;
    display: none;
  }

  #prev-button img {
    margin-top: 40px;
  }
  #next-button img {
    margin-top: -40px;
  }
}

.slider {
  opacity: 0;
  transition: opacity 0.7s;
  position: absolute;
  width: 1490px;
  z-index: -2;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-esquerdo,
.button-direito {
  opacity: 1;
}

#prev-button img,
#next-button img {
  width: 60%;
  height: 60%;
}

#prev-button {
  transform: rotate(180deg);
}

.slider {
  height: 500px;
}
