@media screen and (min-width: 480px) {
  .cards-mobile {
    display: none;
  }
  .mobile{
    display: none;
  }
  .ecoart-mobile{
    display: none;
  }

  .search{
    display: none;
  }
  

}
.ecoart-mobile{
  width: 40px;
  position: relative;
  left: 10px;
  margin-right: 10px;
}
.cards-mobile {
  margin-top: 43px;
  background-color: #567d4c;
}
.categorias-mobile {
  color: #fff;
  margin-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.categorias-mobile li:hover {
  background-color: #a1d1a3;
}

@media screen and (max-width: 480px) {
  .footer .extras {
    display: grid;
    grid-template-columns: 199px 199px;
    gap: 15px;
    margin-bottom: 150px;
  }
  div .vinicio {
    width: 414px;
  }

  .pagamnt {
    max-width: 190px;
  }

  .amostras {
    display: none;
  }

  .tfooter h1 {
    font-size: 1.5rem;
  }

  .credits {
    display: grid;
    grid-template-columns: 198px 198px;
    gap: 10px;
  }

  .produtoBest li {
    display: grid;
    width: 100px;
  }

  .vejamais1 {
    margin-top: 40px;
    width: 269px;
    height: 320px;
    position: relative;
    left: 70px;
  }
  .vejamais1 h2 {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .vejamais1 .titulo {
    color: #fff;
  }
  
  .vejamais1 button {
    background-color: #a1d1a3;
    color: #fff;
    border: solid #a1d1a3 2px;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
  }
  
  .vejamais1 button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.1s;
  }
  
  .preco1 {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .vejamais1 img {
    width: 200px;
  }
}

.today-mobile{
  margin-top: 50px;
}

.mais-mobile{
  margin-top: -60px;
  font-size: 2rem;
}

.ultimo{
  margin-bottom: 100px;
}

/* barra de pesquisa */
.buscar-box.ativar{
  width: 400px;
}

.buscar-box {
  height: 46px;
  background-color: #567D4C;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
  min-width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buscar-box .btn-fechar i{
  font-size: 20px;
  margin-left: 0px;
  color: #fff;
  position: relative;
  right: 55px;
}

.buscar-box .lupa-buscar i{
  font-size: 35px;
  color: #fff;
}

.buscar-box .input-buscar{
  position: absolute;
  left: 80px;
  width: calc(100% - 120px);
  height: 100%;
  line-height: 80px;
  
}

.buscar-box .input-buscar input{
  border: 0;
  outline: 0;
  font-size: 1rem;
  background-color: #82aa78;
  color: #fff;
  align-self: center;
}




