*{
  box-sizing: border-box;
}

.button5:hover{
  background-color: green;
  transition: 0.3s;
}

main {
  background-color: #fff;
}
/* 
body{
} */
.container3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  gap: 100px;
  margin-bottom: 100px;
}

.left-side, .right-side{
  margin-bottom: 0px;
}

.ranking{
  width: 110px;
  cursor: pointer;
}

.left-side{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itens3{
  align-self: flex-end;
}

.select-imagens{
  max-width: 500px;
  overflow: hidden;
}

.select-imagens img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnails{
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  gap: 10px;
  cursor: pointer;
}

.thumbnail img{
  width: 100%;
  border-radius: 10px;
}

.right-side{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contennt{
  text-align: start;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
}


.right-side h6{
  font-size: 15px;
  color: #567D4C;
  margin: 0;
}

.right-side p{
  font-size: 14px;
  color: black;
}

.prices2{
  display: flex;
  flex-direction: column;
}
.price1{
  font-size: 11px;
  font-weight: 500;
}

.off{
  text-decoration: line-through;
  font-size: 12px;
  color: rgb(128, 128, 128);
}

.off2{
  color: #567D4C;
  font-size: 1.5rem;
}

.cartao{
  color: #567D4C;
}

.dividir{
  font-size: 0.9rem;
}

.options1{
  display: flex;
  gap: 20px;
}

.amount{
    background: #eee;
    display: inline-flex;
    padding: 0px 0px;
    justify-content: space-around;
    align-items: center;
    min-width: 50px;
    border-radius: 20px;
    overflow: hidden;
    height: 35px;
   
    
}

.amount span{
  font-size: 12px;
  margin: 0 7px;
}

.amount button{
  display: flex;
  align-items: center;
  background:transparent ;
  border: 0;
  padding: 20 30px;
  font-size: 20px;
  cursor: pointer;
  height: 35px;
}

.amount button:hover{
  background: #ddd;
}

.minus, .plus{
  cursor: pointer;
}

.button5{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color:#567D4C ;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  font-size: 12px;
  font-weight:700 ;
  transition: 0.2s;
}


.button5 img{
  width: 14px;
}

.comentarios{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
  margin-bottom: 250px;

}
.notas{
  font-size: 0.9rem;
  background-color: #567D4C;
  color: #fff;
}

.experiencia{
  font-size: 0.9rem;
  background-color: #567D4C;
  color: #fff;
}
.rank{
  width: 115px;
  margin-left: 10px;
}
.txtArea {
  background-color: #fff;
  border: rgb(167, 167, 167) solid 1px;
  padding: 10px;
  color: black;
  margin: 10px 10px 0px 10px;
}

.principais{
  display: flex;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nota{
  margin-bottom: 29.4rem;
  box-shadow: 0 0 5px black ;
}

.clientes{
  width: 300px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding-bottom: 12px;
}

.nota h2{
  padding-left: 10px;
  padding-right: 10px;
}

.rank3{
  display: flex;
  margin-top: 10px;
}

.nota p{
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 6.4px;
}

.nota h6{
  display: flex;
  margin-left: 15px;
  color: #a8a8a8;
}

.nota img{
  margin-bottom: 4px;
  padding-right: 10px;
}

.rank2{
  width: 100px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 10px;
}

.coments{
  box-shadow: 0 0 5px black ;
  width: 700px;
  margin-top: 15px;
  
  
}

.comentario{
  border: solid 0.5px #ddd;
  background-color: #f8f8f8fb;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 10px;  
}

.comentario h6{
  display: flex;
  margin-top: 4px;
  margin-left: 5px;
}

.comentario img{
  width: 100px;
  display: flex;
  margin-left: 5px;
}

.comentario p{
  display: flex;
  margin-left: 5px;
}

.avaliacao{
  font-size: 0.5rem;
  color: #868686;
  margin-left: 5px;
}

.comentario span{
  display: flex;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.comentario button{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom:6px;
  border: solid 1px;
  border-radius: 8px;
  background-color: transparent;
}

.comentario button:hover{
  background-color: #ddd;
}

.denuncia{
  margin-top: 6px;
  cursor: pointer;

}

.denuncia:hover{
  text-decoration: underline;
}

.veja{
  width: 21%;
  display: flex;
  text-align: center;
  margin-left: 10px;
  font-size: 0.9rem;
  margin-bottom: 2px;
  cursor: pointer;
  color: #567D4C;
  

}

.veja:hover{
  text-decoration: underline;
}




