body {
  background-color: #eee;
  height: 200vh;
}

.tresItens {
  margin-bottom: 40px;
}

.titulo-pag {
  padding-top: 155px;
  font-size: 2.12rem;
}

.ajuste {
  /* padding-left: 15px; */
}

.imgpag {
  width: 70px;
  padding-left: 10px;
}

.pay {
  justify-content: center;
  display: grid;
  padding-top: 20px;
  padding-bottom: 75px;
  gap:20px;
}

.formulario {
  display: grid;
  grid-template-columns: 600px 200px;
  font-size: 1.35rem;
  justify-content: center;
}

.primeiroLado {
  width: 565px;
}

.nomes {
  justify-items: center;
  display: grid;
  grid-template-columns: 300px 300px ;
  gap: 0px;
}

label p {
  padding: 15px 0px 10px 0px;
}

.inputAjuste {
  border-radius: 8px;
  padding: 8px 0px;
}

.pay label {
  /* display: block; */
}

.dadospay {
  display: grid;
  justify-content: center;
  background-color: #fff;
  
  /* gap: 100px; */
}

.displayb {
  display: block;
  margin-bottom: 30px;
}

.formaPag {
  padding-bottom: 20px;
  padding-top: 50px;
}

.envelope {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid gray;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envelope2 {
  background-color: #fff;
  padding: 20px 0px 20px 20px ;
  border-radius: 7px;
  border: 1px solid gray;
  margin-bottom: 16px;
  max-width: 565px;
}

.envelope:last-child {
  margin-bottom: 60px;
}

.tipoPag {
  display: inline-block;
  width: 580px;
}

.dadosCartao {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  justify-items: start;
  justify-content: start;
  gap: 16px;
}

.input-cartao {
  border-radius: 8px;
  padding: 8px 0px;  
  max-width: 120px;
}

.date-cartao {
  padding: 12px 6px;
  margin-right: 135px;
}

.doisItens {
  display: grid;
  grid-template-columns: 90px 90px;
}

.end {
  justify-self: end;
}

.otodo {
  padding-top: 150px;
}

.otodo p, .linhaPag {
  margin-bottom: 20px;
}

.otodo p {
  font-size: 1rem;
}

.finalizar {
  color: #fff;
  background-color: #567D4C;
  padding: 8px;
  border-radius: 7px;
  font-size: 1rem;
  margin-bottom: 100px;
}

.meiuca {
  display: grid;
  justify-items: center;
}

.continuar:hover {
  background-color: #416738;
}

.display-grid {
  display: grid;
  grid-template-columns: 50px 400px;
}

.produtoFinal {
  display: grid;
  grid-template-columns: 50px 200px; 
  font-size: 0.9rem;
  padding-bottom: 20px;
  gap: 30px;
}

.cartao-final {
  display: grid;
  grid-template-columns: 80px 300px; 
  font-size: 0.9rem;
  max-width: 300px;
}

.nub {
  padding-right: 0px 0px 0px 0px;  
}

.tt-p {
  padding-bottom: 30px;
}

.categoria-pf {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: start;
  align-items: start;
  
}


.pf {
  max-width: 50px;
  margin-bottom: 10px;
}
