


:root{
 --color-white: #fff;
 --color-dark1: #272727;
 --color-dark2: #2d2d2d;
 --color-dark3: #414141;
 --color-dark4: #1c1c1c;
 --color-dark5: #343434;
 --color-green: #567D4C;

}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  /* color: var(--color-white); */
  overflow-x: hidden;
}


