


:root{
 --color-white: #fff;
 --color-dark1: #272727;
 --color-dark2: #2d2d2d;
 --color-dark3: #414141;
 --color-dark4: #1c1c1c;
 --color-dark5: #343434;
 --color-green: #567D4C;

}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0FFF0;
  color: var(--color-white);
}
.ecoart{
  width: 150px;
}
.header,
.navegar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navegar2{
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 0;
  background-color: #567D4C;
  height: 100%;
  width: 18vw;
  padding: 1em;
  animation-duration: 0.2s;
  margin-left: -100vw;
  z-index: 2;
  
}
.header{
  background-color: var(--color-white);
  box-shadow: 1px 1px 4px var(--color-dark4);
  height: 3.5em;
  padding: 0 10%;
justify-content: space-between;


}
.navegar, .navegar2{
  gap: 3em;
}
.navegar a{
  text-decoration: none;
  color: var(--color-green);
  transition: 1s;
  font-weight: bold;
}
.navegar2 a{
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
}
.ativar{
  background-color: var(--color-dark3);
  padding: 10px;
  border-radius: 10px;
}
.content{
  text-align: center;
  padding-top: 5em;
  height: 200vh;
  transition: 1s;
  color: black;
}
.botao{
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
}
@keyframes showSidebar{
  from {margin-left: -100vw;}
  top {margin-left: -10vw;}
}
