
.cardsPrincipais {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
  
  }
  
  .centralize {
    width: 1250px;
    height: 500px ;
    }

 .cards1{
    position: relative;
    width: 200px;
    height: 200px;
    right:120px;
    display: flex;
    border-radius: 20px;
    transition: 0.3s;
    transition-delay: 0.3s;
   }

.cards1:hover{
  width: 300px;
  height: 230px;
  transition-delay: 0.3s;
  
}

.cards1 .circulo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards1 .circulo::before{
  content: '';
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #FFF;
  border-radius: 50%;
  filter:drop-shadow(0px 0px 1px black)
  drop-shadow(0 0px 5px black);
  transition: 0.3s, background 0.3s;
  transition-delay: .3s, .1s;
}

.cards1:hover .circulo::before{
  width: 100%;
  height: 95%;
  border-radius: 20px;
  background: #fff;
  transition-delay: .3s;
 
}

.cards1 .circulo .icone1{
  position: absolute;
  width: 142px;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.cards1:hover .circulo .icone1{
  transform: scale(0);
  transition-delay: 0s;

}

.cards1 .produtos1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 100px;
  width: 200px;
  transition: .3s ease-in-out;
}

.cards1:hover .produtos1{
  top: 30%;
  left: 96%;
  height: 200px;
  transform: translate(-50%, -50%) scale(1) rotate(20deg);
  transition-delay: .3s;

}

.cards1 .conteudos1{
  position: absolute;
  left: 20%;
  top: 8%;
  width: 180%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.cards1:hover .conteudos1{
  opacity: 1;
  visibility: visible;
  left: 20px;
  transition-delay: .3s;
}


.cards1 .conteudos1 h2{
  color: #567D4C;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1rem;
  text-align: start;
}

.cards1 .conteudos1 p{
  color: #567D4C;
  max-width: 202px;
  font-size: 0.9rem;
  text-align: start;

}

.cards1 .conteudos1 a{
  color:#fff ;
  background: #567D4C;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:10px ;
  font-weight: 300;
  display: inline-block;
  width: fit-content;
}

.cards1 .conteudos1 a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: .2s;
}
 /* card2 aqui */

 .cards2{
  position: relative;
  width: 200px;
  height: 200px;
  left: 600px;
  bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  transition-delay: 0.3s;

}

.cards2:hover{
  width: 300px;
  height: 230px;
  transition-delay: 0.3s;
  
}

.cards2 .circulo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards2 .circulo::before{
  content: '';
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #FFF;
  border-radius: 50%;
  filter:drop-shadow(0px 0px 1px black)
  drop-shadow(0 0px 5px black);
  transition: 0.3s, background 0.3s;
  transition-delay: .3s, .1s;
}

.cards2:hover .circulo::before{
  width: 100%;
  height: 95%;
  border-radius: 20px;
  background: #fff;
  transition-delay: .3s;
 
}

.cards2 .circulo .icone1{
  position: absolute;
  width: 117px;
  transition: 0.3s;
  transition-delay: 0.3s;
  rotate: 4deg;


}

.cards2:hover .circulo .icone1{
  transform: scale(0);
  transition-delay: 0s;

}

.cards2 .produtos1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 100px;
  width: 180px;
  transition: .3s ease-in-out;
}

.cards2:hover .produtos1{
  top: 27%;
  left: 100%;
  height: 180px;
  transform: translate(-50%, -50%) scale(1) rotate(10deg);
  transition-delay: .3s;

}

.cards2 .conteudos1{
  position: absolute;
  left: 20%;
  top: 8%;
  width: 180%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.cards2:hover .conteudos1{
  opacity: 1;
  visibility: visible;
  left: 20px;
  transition-delay: .3s;
}


.cards2 .conteudos1 h2{
  color: #567D4C;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1rem;
  text-align: start;
}

.cards2 .conteudos1 p{
  color: #567D4C;
  max-width: 202px;
  font-size: 0.9rem;
  text-align: start;

}

.cards2 .conteudos1 a{
  color:#fff ;
  background: #567D4C;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:10px ;
  font-weight: 300;
  display: inline-block;
  width: fit-content;
}

.cards2 .conteudos1 a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: .2s;
}

/* card3 aqui */

.cards3{
  position: relative;
  width: 200px;
  height: 200px;
  left: 1040px;
  bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  transition-delay: 0.3s;

}

.cards3:hover{
  width: 300px;
  height: 230px;
  transition-delay: 0.3s;
  
}

.cards3 .circulo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards3 .circulo::before{
  content: '';
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #FFF;
  border-radius: 50%;
  filter:drop-shadow(0px 0px 1px black)
  drop-shadow(0 0px 5px black);
  transition: 0.3s, background 0.3s;
  transition-delay: .3s, .1s;

}

.cards3:hover .circulo::before{
  width: 100%;
  height: 95%;
  border-radius: 20px;
  background: #fff;
  transition-delay: .3s;
 
}

.cards3 .circulo .icone1{
  position: absolute;
  width: 160px;
  transition: 0.3s;
  transition-delay: 0.3s;
  rotate: 10deg;


}

.cards3:hover .circulo .icone1{
  transform: scale(0);
  transition-delay: 0s;

}

.cards3 .produtos1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 100px;
  width: 220px;
  transition: .3s ease-in-out;
}

.cards3:hover .produtos1{
  top: 27%;
  left: 90%;
  height: 220px;
  transform: translate(-50%, -50%) scale(1) rotate(16deg);
  transition-delay: .3s;

}

.cards3 .conteudos1{
  position: absolute;
  left: 20%;
  top: 8%;
  width: 180%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.cards3:hover .conteudos1{
  opacity: 1;
  visibility: visible;
  left: 20px;
  transition-delay: .3s;
}


.cards3 .conteudos1 h2{
  color: #567D4C;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1rem;
  text-align: start;
}

.cards3 .conteudos1 p{
  color: #567D4C;
  max-width: 202px;
  font-size: 0.9rem;
  text-align: start;

}

.cards3 .conteudos1 a{
  color:#fff ;
  background: #567D4C;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:10px ;
  font-weight: 300;
  display: inline-block;
  width: fit-content;
}

.cards3 .conteudos1 a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: .2s;
}

/* card 4 aqui */

.cards4{
  position: relative;
  width: 200px;
  height: 200px;
  left: 1460px;
  bottom: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  transition-delay: 0.3s;

}

.cards4:hover{
  width: 300px;
  height: 230px;
  transition-delay: 0.3s;
  
}

.cards4 .circulo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards4 .circulo::before{
  content: '';
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #FFF;
  border-radius: 50%;
  filter:drop-shadow(0px 0px 1px black)
  drop-shadow(0 0px 5px black);
  transition: 0.3s, background 0.3s;
  transition-delay: .3s, .1s;
}

.cards4:hover .circulo::before{
  width: 100%;
  height: 95%;
  border-radius: 20px;
  background: #fff;
  transition-delay: .3s;
 
}

.cards4 .circulo .icone1{
  position: absolute;
  width: 180px;
  transition: 0.3s;
  transition-delay: 0.3s;


}

.cards4:hover .circulo .icone1{
  transform: scale(0);
  transition-delay: 0s;

}

.cards4 .produtos1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 100px;
  width: 220px;
  transition: .3s ease-in-out;
}

.cards4:hover .produtos1{
  top: 35%;
  left: 98%;
  height: 220px;
  transform: translate(-50%, -50%) scale(1) rotate(14deg);
  transition-delay: .3s;

}

.cards4 .conteudos1{
  position: absolute;
  left: 20%;
  top: 8%;
  width: 180%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.cards4:hover .conteudos1{
  opacity: 1;
  visibility: visible;
  left: 20px;
  transition-delay: .3s;
}


.cards4 .conteudos1 h2{
  color: #567D4C;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1rem;
  text-align: start;
}

.cards4 .conteudos1 p{
  color: #567D4C;
  max-width: 202px;
  font-size: 0.9rem;
  text-align: start;

}

.cards4 .conteudos1 a{
  color:#fff ;
  background: #567D4C;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:10px ;
  font-weight: 300;
  display: inline-block;
  width: fit-content;
}

.cards4 .conteudos1 a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: .2s;
}

@media screen and (max-width: 480px){
  /* .cardsPrincipais{
    display: none;
  } */
}