.container-slider {
  display: flex;
  width: 100%;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  z-index: -2;
  margin-top: 100px;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1900px;
  z-index: -2;
  
}

@media screen and (max-width: 480px) {

  .container-images{
   width: 480px;
  }
  .container-images img{
    width: 480px;
    height: 300px;
  }

  .container-slider button{
   width: 400px;
  }
  
  #prev-button img, #next-button img {
    visibility:hidden;
    
  }
}


.slider {
  opacity: 0;
  transition: opacity .7s;
  position: absolute;
  width: 1864px;
  z-index: -2;
  
  
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-esquerdo, .button-direito{
  opacity: 1;
}

#prev-button img, #next-button img {
  width: 60%;
  height: 60%;
}


#prev-button {
  transform: rotate(180deg);
}

.slider{
  height: 400px;
}