.ecoart {
  cursor: pointer;
  width: 150px;
}

nav {
  display: flex;
  position: fixed;
  width: 100vw;
  gap: 60px;
  z-index: 999;
}
hr {
  width: 206;
}

.header,

.navegar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navegar a {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0% 1px;
  background-position: left bottom 10px;
  /* tava com 10 sem px*/
  transition: background-size 300ms;
}

.navegar a:hover {
  background-size: 100% 1px;
  color: #fff;
}

.user {
  width: 30px;
}

.navegar2 {
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 0;
  background-color: #567d4c;
  height: 1000px;
  width: 55vw;
  padding: 1em;
  animation-duration: 0.2s;
  margin-left: -100vw;
  z-index: 2;
}

.navegar2 a {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0% 1px;
  background-position: left bottom 10;
  transition: background-size 200ms;
}

.navegar2 a:hover {
  background-size: 100% 1px;
  color: white;
}
.header {
  background-color: #567d4c;
  box-shadow: 1px 1px 4px var(--color-dark4);
  height: 3.5em;
  padding: 0 2% 0 10%;
}
.navegar,
.navegar2 {
  gap: 1em;
}
.navegar a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}
.navegar2 a {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
}

.navegar3 a {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
}

.navegar3 {
  display: flex;
  gap: 4.5em;
  transition: 0s;
}

.navegar3 a:hover {
  color: #fff;
  transition: 0.1s;
}

.fa-circle-user {
  position: relative;
  right: 30px;
  width: 0px;
}

.fa-cart-shopping {
  margin-left: -40;
  transition: 0s;
  color: #fff;
  cursor: pointer;
}

.fa-circle-user,
.fa-cart-shopping {
  font-size: 23px;
}

.navegar a {
  padding: 10px;
  border-radius: 10px;
}

.navegar2 a {
  padding: 10px;
  border-radius: 10px;
}

.content {
  text-align: center;
  padding-top: 5em;
  height: 100vh;
  transition: 1s;
  color: black;
}
.botao {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 480px) {
  .botao {
    display: block;
  }
  .navegar {
    display: none;
  }
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  top {
    margin-left: -10vw;
  }
}

.header .menu {
  position: absolute;
  top: calc(5% + 70px);
  right: 100px;
  width: 205px;
  min-height: 100px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 4px var(--color-dark4);
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.header .menu.ativo {
  opacity: 1;
  visibility: visible;
}

.header .menu::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 25px;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: 1px 1px 4px var(--color-dark4);
  z-index: -1;
  transform: rotate(45deg);
}

.header .menu ul {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .menu ul li {
  padding: 17px 20px;
  background: #fff;
  transition: 0.5s;
}

.header .menu ul li:hover {
  background: #f5f5f5;
  transition: 0s;
}

.header .menu ul li a {
  text-decoration: none;
  color: #733f2f;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .menu ul li a ion-icon {
  font-size: 1.25rem;
  color: #567d4c;
}

.user-profile {
  font-size: 45px;
  display: flex;
  align-items: center;
  color: #567d4c;
  position: relative;
  right: 8px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 50px;
}
.profile p {
  color: #733f2f;
}


.cart{
  background-color: #fff;
  width: 440px;
  position: absolute;
  right:150px ;
  top: 74px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px var(--color-dark4);
  visibility: hidden;
}

.navegar3 .cart::before{
  content: "";
  position: absolute;
  top: -8px;
  right: 108px;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: 1px 1px 4px var(--color-dark4);
  transform: rotate(45deg);
  z-index: -2;
}

.cart.aberto{
  visibility:visible ;
}

.cart > h2{
  text-align: center;
  padding:20px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.cart p{
  color: rgb(121, 121, 121);
  font-weight: bold;
}
.prd-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 0px;
  overflow-y: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.prd-cart li {
  list-style: none;
}

.prd-cart ul{
  padding: 15 0 0 0;
  height: 100%;
}


/* conteudo dentro do carrinho */

.produtos-cart{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 3px;

}

.produto-descricao{
  padding: 0 5px;
  width: 100%;
}

.produto-descricao h2{
  font-weight: 700;
  font-size: 20px;
  color: rgb(161, 161, 161);
  

}

.produto-preco{
font-weight: 700;
font-size: 15px;
color: rgb(161, 161, 161);

}

.produto-preco-total{
  font-weight: bold;
  font-size: 18px;
  
}

.img-produtos{
  width: 60px;
  border-radius: 5px;
}

.lixeira{
  width: 17px;
  margin-left: 7px;
  margin-bottom: 4px;
}

.cart .msg-carrinho-vazio{
  display: none;
}

.cart .carrinho-vazio{
  display: block;
}
.icone-carrinho-container{
  position: relative;
}

.icone-carrinho-contador{
  background-color: #733f2f;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 6px;
}